<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" version="3.1">
  <display-name>blog</display-name>
  <welcome-file-list>
    <welcome-file>index</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  
    <!-- 配置分发器，springMVC核心组件 -->
   <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>classpath:beans.xml</param-value>
        </init-param>
        
        <!-- 在容器启动时加载：启动时就创建spring容器，防止第一次请求时等待时间过长 -->
        
        <load-on-startup>1</load-on-startup>
        <multipart-config>
        	<!-- 上传文件的最大大小
        	<max-file-size>100000000</max-file-size>
        	上传文件的最大总大小
        	<max-request-size></max-request-size>
        	临时上传文件的阈值
        	<file-size-threshold></file-size-threshold>
        	上传文件的最大大小
        	<location></location> -->
        </multipart-config>
    </servlet>
    
    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/</url-pattern>
    </servlet-mapping>
    

  
</web-app>